# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Mac
.DS_Store

# IDE
.vscode/
.idea/
*.swp

# Project artifacts, datasets
data/data/
data/folders/
*.pth                
*.pt
wandb/
mlruns/

# Plots 
*.pkl

results/Images/
results/logs